<p id="notice"><%= notice %></p>

<h1>Systems</h1>

      <%= search_form_for @q do |f| %>
        <%= f.condition_fields do |c| %>
          <%= render "condition_fields", f: c %>  
        <% end %>
        <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>   
        <%= f.submit "Search", class: 'btn btn-primary' %>
      <% end %>

<%= paginate @systems %>
<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th><%= sort_link(@q, :name) %></th>
      <th><%= sort_link(@q, :resource_group, "Resouce Group") %></th>
      <th><%= sort_link(@q, :location) %></th>
      <th><%= sort_link(@q, :availability_set, "Availability Set") %></th>
      <th><%= sort_link(@q, :operating_system, "OS") %></th>
      <th><%= sort_link(@q, :vm_size, "VM Size") %></th>
      <th><%= sort_link(@q, :operating_system_version, "OS Version") %></th>
      <th><%= sort_link(@q, :storage) %></th>
      <th><%= sort_link(@q, :subnet) %></th>
      <th><%= sort_link(@q, :ip, "IP") %></th>
      <th><%= sort_link(@q, :nsg, "NSG") %></th>
      <th><%= sort_link(@q, :nsg_resource_group, "NSG Resource Group") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= system.name %></td>
        <td><%= system.resource_group %></td>
        <td><%= system.location %></td>
        <td><%= system.availability_set %></td>
        <td><%= system.operating_system %></td>
        <td><%= system.vm_size %></td>
        <td><%= system.operating_system_version %></td>
        <td><%= system.storage %></td>
        <td><%= system.subnet %></td>
        <td><%= system.ip %></td>
        <td><%= system.nsg %></td>
        <td><%= system.nsg_resource_group %></td>
        <td><%= link_to 'Show', system %></td>
        <td><%= link_to 'Edit', edit_system_path(system) %></td>
        <td><%= link_to 'Destroy', system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System', new_system_path %>
